if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_ForecastDetailInf]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_ForecastDetailInf]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_AssyRatioMst]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_AssyRatioMst]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_LogisticsCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_LogisticsCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_LogisticsCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_LogisticsCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_RecConfStatPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_RecConfStatPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERT_RecConfStatPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[INSERT_RecConfStatPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_RecConfStatPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_RecConfStatPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_PartNumber]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_PartNumber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERT_PartsStockMST]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[INSERT_PartsStockMST]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_PartNumber]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_PartNumber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERT_InvPartQtyInf]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[INSERT_InvPartQtyInf]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_RejectPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_RejectPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERT_RejectPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[INSERT_RejectPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_RejectPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_RejectPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_RenbanGroupCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_RenbanGroupCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_RenbanGroupCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_RenbanGroupCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_SizeCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_SizeCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_SizeCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_SizeCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_StockTakingPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_StockTakingPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[INSERT_StockTakingPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[INSERT_StockTakingPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_StockTakingPartsStockMstQTY]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_StockTakingPartsStockMstQTY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DELETE_SupplierCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[DELETE_SupplierCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UPDATE_SupplierCode]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UPDATE_SupplierCode]
GO


SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_ForecastDetailInf ON [dbo].[INV_FORECAST_DETAIL_INF] 
FOR UPDATE 
AS
DECLARE
	@numrows	int
SELECT @numrows = @@Rowcount
if @numrows > 0 
begin
	SET NOCOUNT ON
	print('UPDATE ForecastDetailInf')
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_AssyRatioMst ON [dbo].[INV_ASSY_RATIO_MST] 
FOR UPDATE 
AS
DECLARE
	@numrows	int
SELECT @numrows = @@Rowcount
if @numrows > 0 
begin
	SET NOCOUNT ON
	print('UPDATE AssyRatioMst')
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_LogisticsCode ON [dbo].[INV_LOGISTICS_MST] 
FOR DELETE 
AS
UPDATE INV_SUPPLIER_MST
	SET VC_LOGISTICS_CODE = ''
FROM  INV_SUPPLIER_MST a, DELETED d
WHERE a.VC_LOGISTICS_CODE = d.VC_LOGISTICS_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_LogisticsCode ON [dbo].[INV_LOGISTICS_MST] 
FOR UPDATE 
AS
UPDATE INV_SUPPLIER_MST
	SET VC_LOGISTICS_CODE = i.VC_LOGISTICS_CODE
FROM  INV_SUPPLIER_MST a, DELETED d, inserted i
WHERE a.VC_LOGISTICS_CODE = d.VC_LOGISTICS_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_RecConfStatPartsStockMstQTY ON dbo.INV_OPEN_ORDER_INF 
FOR DELETE
AS
DECLARE
	@numrows	int
SELECT @numrows = @@Rowcount
if @numrows > 0 
begin
	SET NOCOUNT ON
	print('DELETE Rec Conf Trigger')
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - d.IN_QTY
	FROM INV_PARTS_STOCK_MST PS, deleted d
	WHERE PS.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND d.VC_STATUS_SUPPLIER_SHIPPING <> ''
	AND d.VC_STATUS_EMPTY_TRAILER <> ''
	SET NOCOUNT OFF
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER INSERT_RecConfStatPartsStockMstQTY ON dbo.INV_OPEN_ORDER_INF 
FOR INSERT
AS
SET NOCOUNT ON
	print('INSERT Rec Conf Trigger')
INSERT into INV_OPEN_ORDER_INF_HIST 
	SELECT * from inserted
UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	AND i.VC_STATUS_SUPPLIER_SHIPPING <> ''
SET NOCOUNT OFF

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_RecConfStatPartsStockMstQTY ON dbo.INV_OPEN_ORDER_INF 
FOR UPDATE
AS
DECLARE
	@numrows	int
SELECT @numrows = @@Rowcount
if @numrows > 0 
begin
	SET NOCOUNT ON
	print('UPDATE Rec Conf Trigger')
	INSERT into INV_OPEN_ORDER_INF_HIST 
	SELECT * from deleted
	-- The following two updates take place when the parts are already shipping
	-- and the amount is changed
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - d.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, deleted d, inserted i
	WHERE PS.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND i.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND i.IN_QTY <> d.IN_QTY 
	AND d.VC_STATUS_SUPPLIER_SHIPPING <> ''
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i, deleted d
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	AND i.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND i.IN_QTY <> d.IN_QTY AND i.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND i.IN_QTY <> d.IN_QTY
	AND d.VC_STATUS_SUPPLIER_SHIPPING <> ''
	-- This is the update when parts are shipped
	--
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i, deleted d
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	AND i.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND i.VC_STATUS_SUPPLIER_SHIPPING <> d.VC_STATUS_SUPPLIER_SHIPPING
	AND d.VC_STATUS_SUPPLIER_SHIPPING = ''
	-- This update when a part is changed to not shipped
	--
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i, deleted d
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	AND i.VC_PART_NUMBER = d.VC_PART_NUMBER
	AND i.VC_STATUS_SUPPLIER_SHIPPING = ''
	AND d.VC_STATUS_SUPPLIER_SHIPPING <> ''
	
end
SET NOCOUNT OFF

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_PartNumber ON dbo.INV_PARTS_STOCK_MST 
FOR DELETE 
AS
DECLARE 
	@Message	varchar(100),
	@numrows	int
SELECT @numrows = @@Rowcount
if @numrows > 0
begin
	SET NOCOUNT ON
	SELECT @Message = 'PARTS_STOCK_MST DELETE Trigger'
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
	print ('PARTS_STOCK_MST DELETE Trigger')
	UPDATE INV_ASSY_RATIO_MST
		SET VC_TIRE_PART_NUMBER1_CODE = ''
	FROM  INV_ASSY_RATIO_MST a, DELETED d
	WHERE a.VC_TIRE_PART_NUMBER1_CODE = d.VC_PART_NUMBER
	UPDATE INV_ASSY_RATIO_MST
		SET VC_TIRE_PART_NUMBER2_CODE = ''
	FROM  INV_ASSY_RATIO_MST a, DELETED d
	WHERE a.VC_TIRE_PART_NUMBER2_CODE = d.VC_PART_NUMBER
	UPDATE INV_ASSY_RATIO_MST
		SET VC_WHEEL_PART_NUMBER1_CODE = ''
	FROM  INV_ASSY_RATIO_MST a, DELETED d
	WHERE a.VC_WHEEL_PART_NUMBER1_CODE = d.VC_PART_NUMBER
	UPDATE INV_ASSY_RATIO_MST
		SET VC_WHEEL_PART_NUMBER2_CODE = ''
	FROM  INV_ASSY_RATIO_MST a, DELETED d
	WHERE a.VC_WHEEL_PART_NUMBER2_CODE = d.VC_PART_NUMBER
	UPDATE INV_FORECAST_DETAIL_INF
		SET VC_TIRE_PART_NUMBER_CODE = ''
	FROM  INV_FORECAST_DETAIL_INF a, DELETED d
	WHERE a.VC_TIRE_PART_NUMBER_CODE = d.VC_PART_NUMBER
	UPDATE INV_FORECAST_DETAIL_INF
		SET VC_WHEEL_PART_NUMBER_CODE = ''
	FROM  INV_FORECAST_DETAIL_INF a, DELETED d
	WHERE a.VC_WHEEL_PART_NUMBER_CODE = d.VC_PART_NUMBER
	SET NOCOUNT ON
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER INSERT_PartsStockMST ON dbo.INV_PARTS_STOCK_MST 
FOR INSERT 
AS
DECLARE
	@part		varchar(12),
	@insQty	int,
	@delQty	int,
	@AddDate	varchar(16),
	@Now		datetime,
	@numrows	int
SELECT @numrows = @@Rowcount
if @numrows > 0
begin
	print('INSERT Part Mst Trigger')
	INSERT into INV_PARTS_STOCK_MST_HIST 
	SELECT * from inserted
	INSERT INV_PART_QTY_INF (VC_PART_NUMBER, IN_QTY_CHANGE, IN_QTY)
	SELECT VC_PART_NUMBER, IN_QTY, IN_QTY from inserted 
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_PartNumber ON dbo.INV_PARTS_STOCK_MST 
FOR UPDATE
AS
DECLARE
	@numrows	int
SELECT @numrows = @@Rowcount
SET NOCOUNT ON
--
-- 	Multiple rows of counts can be updated(without key change)
--
if @numrows > 0
begin
	INSERT into INV_PARTS_STOCK_MST_HIST 
	SELECT * from deleted
	-- Update part qty history table
	INSERT INV_PART_QTY_INF(VC_PART_NUMBER, IN_QTY_CHANGE, IN_QTY, VC_STATUS) 
	SELECT i.VC_PART_NUMBER, i.IN_QTY-d.IN_QTY, i.IN_QTY, 'U'  
	FROM inserted i, deleted d
	WHERE i.IN_QTY <> d.IN_QTY
	AND i.VC_PART_NUMBER = d.VC_PART_NUMBER
end
--
--	Only one key record update at a time
--
if @numrows = 1 
begin
	if update(vc_part_number)
	begin
		UPDATE INV_ASSY_RATIO_MST
			SET VC_TIRE_PART_NUMBER1_CODE = i.VC_PART_NUMBER
		FROM  INV_ASSY_RATIO_MST a, DELETED d, INSERTED i
		WHERE a.VC_TIRE_PART_NUMBER1_CODE = d.VC_PART_NUMBER
		AND i.VC_PART_NUMBER <> d.VC_PART_NUMBER
		
		UPDATE INV_ASSY_RATIO_MST
			SET VC_TIRE_PART_NUMBER2_CODE = i.VC_PART_NUMBER
		FROM  INV_ASSY_RATIO_MST a, DELETED d, INSERTED i
		WHERE a.VC_TIRE_PART_NUMBER2_CODE = d.VC_PART_NUMBER
		AND i.VC_PART_NUMBER <> d.VC_PART_NUMBER
		
		UPDATE INV_ASSY_RATIO_MST
			SET VC_WHEEL_PART_NUMBER1_CODE =  i.VC_PART_NUMBER
		FROM  INV_ASSY_RATIO_MST a, DELETED d, INSERTED i
		WHERE a.VC_WHEEL_PART_NUMBER1_CODE = d.VC_PART_NUMBER
		AND i.VC_PART_NUMBER <> d.VC_PART_NUMBER
		
		UPDATE INV_ASSY_RATIO_MST
			SET VC_WHEEL_PART_NUMBER2_CODE =  i.VC_PART_NUMBER
		FROM  INV_ASSY_RATIO_MST a, DELETED d, INSERTED i
		WHERE a.VC_WHEEL_PART_NUMBER2_CODE = d.VC_PART_NUMBER
		AND i.VC_PART_NUMBER <> d.VC_PART_NUMBER
		
		print ('Before Detail Update')
		UPDATE INV_FORECAST_DETAIL_INF
			SET VC_TIRE_PART_NUMBER_CODE = i.VC_PART_NUMBER
		FROM  INV_FORECAST_DETAIL_INF a, DELETED d, INSERTED i
		WHERE a.VC_TIRE_PART_NUMBER_CODE = d.VC_PART_NUMBER
		AND i.VC_PART_NUMBER <> d.VC_PART_NUMBER
		
		UPDATE INV_FORECAST_DETAIL_INF
			SET VC_WHEEL_PART_NUMBER_CODE =  i.VC_PART_NUMBER
		FROM  INV_FORECAST_DETAIL_INF a, DELETED d, INSERTED i
		WHERE a.VC_WHEEL_PART_NUMBER_CODE = d.VC_PART_NUMBER
		AND i.VC_PART_NUMBER <> d.VC_PART_NUMBER
		Print('Detail update')
	end
end
SET NOCOUNT OFF

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER INSERT_InvPartQtyInf ON [dbo].[INV_PART_QTY_INF] 
FOR INSERT
AS
DECLARE
	@numrows	int,
	@message	varchar(100)
	SELECT @numrows = @@rowcount
if @numrows > 0 
begin
	SET NOCOUNT ON
	print('UPDATE Part Mst Trigger count')
	SELECT @Message = 'UPDATE Part Mst Trigger count'
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
	SET NOCOUNT OFF
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_RejectPartsStockMstQTY ON dbo.INV_REJECT_INF 
FOR DELETE
AS
BEGIN
DECLARE
	@Deleted 	varchar(16),
	@Message	varchar(100)
SET @Deleted = CONVERT(varchar, getdate(), 112) + SUBSTRING(CONVERT(varchar, getdate(), 114), 1, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 4, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 7, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 10, 2)
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + d.IN_QTY,
		VC_LAST_UPDATE = @Deleted
	FROM INV_PARTS_STOCK_MST PS, deleted d
	WHERE PS.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = d.VC_PART_NUMBER
	SELECT @Message = 'Delete Reject Inventory Part:' + d.VC_PART_NUMBER + ' Qty:'+convert(varchar(5),d.IN_QTY) FROM Deleted d
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER INSERT_RejectPartsStockMstQTY ON [dbo].[INV_REJECT_INF] 
FOR INSERT
AS
DECLARE
	@Message	varchar(100)
BEGIN
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE 
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	SELECT @Message = 'Insert Reject Inventory Part:' + i.VC_PART_NUMBER + ' Qty:'+convert(varchar(5),i.IN_QTY) FROM Inserted i
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_RejectPartsStockMstQTY ON [dbo].[INV_REJECT_INF] 
FOR UPDATE
AS
BEGIN
DECLARE 
	@Deleted	varchar(16),
	@Message	varchar(100)
SET @Deleted = CONVERT(varchar, getdate(), 112) + SUBSTRING(CONVERT(varchar, getdate(), 114), 1, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 4, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 7, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 10, 2)
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + d.IN_QTY,
		VC_LAST_UPDATE = @Deleted
	FROM INV_PARTS_STOCK_MST PS, deleted d
	WHERE PS.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CODE
	AND PS.VC_PART_NUMBER = d.VC_PART_NUMBER
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE 
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	SELECT @Message = 'Update Reject Inventory Part:' + i.VC_PART_NUMBER + ' Qty:'+convert(varchar(5),i.IN_QTY) FROM Inserted i
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_RenbanGroupCode ON dbo.INV_RENBAN_GROUP_MST 
FOR DELETE 
AS
UPDATE INV_PARTS_STOCK_MST 
	SET VC_RENBAN_GROUP_CODE=''
FROM  INV_PARTS_STOCK_MST p, DELETED d
WHERE p.VC_RENBAN_GROUP_CODE = d.VC_RENBAN_GROUP_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_RenbanGroupCode ON dbo.INV_RENBAN_GROUP_MST 
FOR UPDATE
AS
DECLARE
	@message	varchar(100)
	SELECT @Message = 'RENBAN_GROUP_MST UPDATE Trigger'
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
	UPDATE INV_PARTS_STOCK_MST 
	SET VC_RENBAN_GROUP_CODE = i.VC_RENBAN_GROUP_CODE
	FROM  INV_PARTS_STOCK_MST p, DELETED d, INSERTED i
	WHERE p.VC_RENBAN_GROUP_CODE = d.VC_RENBAN_GROUP_CODE
	AND i.VC_RENBAN_GROUP_CODE <> d.VC_RENBAN_GROUP_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_SizeCode ON [dbo].[INV_SIZE_MST] 
FOR DELETE 
AS
print ('SIZE_MST DELETE Trigger')
UPDATE INV_PARTS_STOCK_MST
	SET VC_SIZE_CODE = ''
FROM  INV_PARTS_STOCK_MST a, DELETED d
WHERE a.VC_SIZE_CODE = d.VC_SIZE_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_SizeCode ON [dbo].[INV_SIZE_MST] 
FOR UPDATE
AS
print ('SIZE_MST UPDATE Trigger')
if update(vc_size_code)	
begin
	print( 'before size update')
	UPDATE INV_PARTS_STOCK_MST
		SET VC_SIZE_CODE = i.VC_SIZE_CODE
	FROM  INV_PARTS_STOCK_MST a, DELETED d, INSERTED i
	WHERE a.VC_SIZE_CODE = d.VC_SIZE_CODE
	print( 'after size update')
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_StockTakingPartsStockMstQTY ON dbo.INV_STOCKTAKING_INF 
FOR DELETE
AS
DECLARE 
	@Deleted	varchar(16),
	@Message 	varchar(100)
	SET @Deleted = CONVERT(varchar, getdate(), 112) + SUBSTRING(CONVERT(varchar, getdate(), 114), 1, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 4, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 7, 2) + SUBSTRING(CONVERT(varchar, getdate(), 114), 10, 2)
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - d.IN_QTY,
		VC_LAST_UPDATE = @Deleted
	FROM INV_PARTS_STOCK_MST PS, deleted d
	WHERE PS.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CD 
	AND PS.VC_PART_NUMBER = d.VC_PART_NUMBER
	SELECT @Message = 'Delete Stocktaking Inventory Part:' + d.VC_PART_NUMBER + ' Qty:'+convert(varchar(5),d.IN_QTY) FROM Deleted d
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER INSERT_StockTakingPartsStockMstQTY ON dbo.INV_STOCKTAKING_INF 
FOR INSERT
AS
DECLARE
	@Message	varchar(100)
BEGIN
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CD 
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	SELECT @Message = 'Insert Stocktaking Inventory Part:' + i.VC_PART_NUMBER + ' Qty:'+convert(varchar(5),i.IN_QTY) FROM Inserted i
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_StockTakingPartsStockMstQTY ON dbo.INV_STOCKTAKING_INF 
FOR UPDATE
AS
BEGIN
DECLARE 
	@Message	varchar(100)
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY - d.IN_QTY
	FROM INV_PARTS_STOCK_MST PS, deleted d
	WHERE PS.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CD 
	AND PS.VC_PART_NUMBER = d.VC_PART_NUMBER
	UPDATE INV_PARTS_STOCK_MST
	SET IN_QTY = PS.IN_QTY + i.IN_QTY,
		VC_LAST_UPDATE = i.VC_LAST_UPDATE
	FROM INV_PARTS_STOCK_MST PS, inserted i
	WHERE PS.VC_SUPPLIER_CODE = i.VC_SUPPLIER_CD 
	AND PS.VC_PART_NUMBER = i.VC_PART_NUMBER
	SELECT @Message = 'Update Stocktaking Inventory Part:' + i.VC_PART_NUMBER + ' Qty:'+convert(varchar(5),i.IN_QTY) FROM Inserted i
	exec Activity.dbo.InsertAct_Log 'INVENTORY','TRIGGER', @Message
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER DELETE_SupplierCode ON [dbo].[INV_SUPPLIER_MST] 
FOR DELETE 
AS
UPDATE INV_PARTS_STOCK_MST
	SET VC_SUPPLIER_CODE = ''
FROM  INV_PARTS_STOCK_MST a, DELETED d
WHERE a.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER UPDATE_SupplierCode ON [dbo].[INV_SUPPLIER_MST] 
FOR UPDATE
AS
UPDATE INV_PARTS_STOCK_MST
	SET VC_SUPPLIER_CODE = i.VC_SUPPLIER_CODE
FROM  INV_PARTS_STOCK_MST a, DELETED d, inserted i 
WHERE a.VC_SUPPLIER_CODE = d.VC_SUPPLIER_CODE

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

